<div class="col-md-6 m-auto" style="padding: 0">
  <div class="jumbotron" class="bg-danger text-white text-center" style="margin-bottom:30px;padding: 30px">
    <h4>To Do List App</h4>
    <small>{{dt|date:'fullDate'}}</small>
  </div>

  <div style="padding: 5px">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Your Task" #itemTitle>
      <div class="input-group-addon hover-cursor bg-dark text-white" (click)="onAdd(itemTitle)">
        <i class="fa fa-plus-circle fa-2x"></i>
      </div>
    </div>
    <ul class="list-group mt-2">
      <li class="list-group-item" *ngFor="let item of toDoListArray">
        <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.id,item.isChecked)">
          <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
        </span>
        {{item.title}}
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.id)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
